<html>
	<head>
		<title>
			Ruamgun
		</title>
	   <link rel="stylesheet" href="styles.css">
	</head>

	<body>
		
		<div id="app">
			<h1>{{title}}</h1>
			<select v-model="columns">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
			</select>
			<!-- <button v-on:click="get">Get</button> -->
			<table style="width:100%; ">
				<tr v-for="row in output">
					<td v-for="data in row">
						<p>{{data.created_time}}</p>
						<!-- http://www.w3schools.com/css/css_rwd_images.asp -->
						<div v-if="!isVideo(getDataType(data))">
							<div>
								<a v-if="data.attachment" target="_blank" v-bind:href="formatUrl(data.attachment.url, getDataType(data))">
									<img v-bind:src="data.attachment.img_url" style="width:100%; height:auto;">
								</a>
							</div>

							<div>
								<p style="text-align:center;">{{data.message}}</p>
							</div>
						</div>
						<div v-if="isVideo(getDataType(data))">
							<!-- https://developers.facebook.com/docs/plugins/embedded-video-player -->
							<!-- Your embedded video player code -->
							  <div class="fb-video" v-bind:data-href="data.attachment.url" data-show-text="true" data-allowfullscreen="true"></div>
						</div>
					</td>
				</tr>
			</table>
			<!-- <ol>
				<li v-for="f in feed">
					<img v-bind:src="f.attachment.img_url" style="height: 200px">
					<p>{{f.message}}</p>
				</li>
			</ol> -->
		</div>

		  <!-- Load Facebook SDK for JavaScript -->
		  <div id="fb-root"></div>
		  <script>(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));</script>

		<script src="js/vue.js"></script>
		<script src="js/vue-resource.js"></script>
		<script src="app.js"></script>
	</body>
</html>