<!DOCTYPE html>
<html>
	<head>
		<title>Ruamgun</title>
		<link rel="stylesheet" href="/styles.css">
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name = "viewport" content = "width = device-width">
	</head>

	<body>
		<div id="app">
			<div style="text-align:center;">
				<h1>รวมกัน</h1>
				<div style="margin: 10px 0px 10px 0px">
				    <router-link to="/combined">รวม</router-link>
				    <router-link to="/page">หน้าต่อหน้า</router-link>
				    <router-link to="/sources">sources</router-link>
				</div>
			</div>

			<!-- <transition name="fade"> -->
				<router-view></router-view>
			<!-- </transition> -->
		</div>

		<script type="text/javascript" src="/js/moment.js"></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/vuex.js"></script>
		<script type="text/javascript" src="/js/vue-resource.js"></script>
		<script type="text/javascript" src="/js/vue-router.js"></script>
		<script type="text/javascript" src="/mixins.js"></script>
		<script type="text/javascript" src="/store.js"></script>
		<script type="text/javascript" src="/table.js"></script>
		<script type="text/javascript" src="/notfound.js"></script>
		<script type="text/javascript" src="/sourcePage.js"></script>
		<script type="text/javascript" src="/separatePages.js"></script>
		<script type="text/javascript" src="/combined.js"></script>
		<script type="text/javascript" src="/itemPage.js"></script>
		<script type="text/javascript" src="/app.js"></script>


	</body>
</html>